services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_SUPABASE_URL: ${NEXT_PUBLIC_SUPABASE_URL}
    container_name: study-mate-app
    restart: unless-stopped
    env_file: .env
    environment:
      - NODE_ENV=production

  nginx:
    image: nginx:alpine
    container_name: study-mate-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    restart: unless-stopped
